@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .nav-element{
        @apply cursor-pointer;
    }

    .nav-full-element{
        @apply cursor-pointer origin-left hover:underline active:scale-95
    }

    p{
        font-size: 20px;
        margin-bottom: 16px;
    }

}

#root{
    height: 100vh;
}

.App{
    height: 100%;
}
